@model List<Blog>
@{
    ViewData["Title"] = "Index";
}
    <section id="brdcrumb">
        <div class="container">
            <div class="row">
                <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <div class="display">
                                <div class="syllabus">
                                    <a href="#">Home > Blogs</a>
                                </div>
                            </div>
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </section>
    <section id="blogsPage">
        <section id="blogs">
            <div class="container">
                <div class="row">
                    <div class="leftside col-lg-9">
                        <div class="blogs">
                            @foreach (Blog blog in Model)
                            {
                            <div class="blogwrapper col-lg-6 col-md-6 col-sm-6">
                                <div class="blog">
                                    <div class="blogimage">
                                        <a asp-controller="blog" asp-action="details" asp-route-id="@blog.Id">
                                            <img src="~/assets/images/blog/@blog.Image"
                                                 alt="">
                                        </a>
                                    </div>
                                    <a href="" class="blogname">@blog.Title</a>
                                    <div class="blogdetails">
                                        <ul class="detailsList">
                                            <li>
                                                <p class="blogDate">@blog.PublishDate.ToString("dd MMMM,yyyy")</p>
                                            </li>
                                            <li>
                                                <p class="authorName">Posted By:Arena Tech</p>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="bottomBlog">
                                        <div class="readBtn">
                                            <a asp-controller="blog" asp-action="details" asp-route-id="@blog.Id" class="read">Read More</a>
                                        </div>

                                        <span class="blogCommnt">
                                            <svg aria-hidden="true" focusable="false"
                                                 data-prefix="fal" data-icon="comment" role="img"
                                                 xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
                                                 class="svg-inline--fa fa-comment fa-w-16 fa-2x">
                                                <path fill="currentColor"
                                                      d="M256 64c123.5 0 224 79 224 176S379.5 416 256 416c-28.3 0-56.3-4.3-83.2-12.8l-15.2-4.8-13 9.2c-23 16.3-58.5 35.3-102.6 39.6 12-15.1 29.8-40.4 40.8-69.6l7.1-18.7-13.7-14.6C47.3 313.7 32 277.6 32 240c0-97 100.5-176 224-176m0-32C114.6 32 0 125.1 0 240c0 47.6 19.9 91.2 52.9 126.3C38 405.7 7 439.1 6.5 439.5c-6.6 7-8.4 17.2-4.6 26 3.8 8.8 12.4 14.5 22 14.5 61.5 0 110-25.7 139.1-46.3 29 9.1 60.2 14.3 93 14.3 141.4 0 256-93.1 256-208S397.4 32 256 32z"
                                                      class=""></path>
                                            </svg> <span class="count">0</span>
                                        </span>
                                    </div>

                                </div>
                            </div>
                            }
                            @*<div class="blogwrapper col-lg-6 col-md-6 col-sm-6">
                                <div class="blog">
                                    <div class="blogimage">
                                        <a href="">
                                            <img src="~/assets/images/blog/1_1170x_2dcb2f38-6320-4e24-b3a1-e0a4bd057584_1170x.jpg"
                                                 alt="">
                                        </a>
                                    </div>
                                    <a href="" class="blogname">Robot Wars</a>
                                    <div class="blogdetails">
                                        <ul class="detailsList">
                                            <li>
                                                <p class="blogDate">10 Nov,2020</p>
                                            </li>
                                            <li>
                                                <p class="authorName">Posted By:Arena Tech</p>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="bottomBlog">
                                        <div class="readBtn">
                                            <a href="" class="read">Read More</a>
                                        </div>

                                        <span class="blogCommnt">
                                            <svg aria-hidden="true" focusable="false"
                                                 data-prefix="fal" data-icon="comment" role="img"
                                                 xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
                                                 class="svg-inline--fa fa-comment fa-w-16 fa-2x">
                                                <path fill="currentColor"
                                                      d="M256 64c123.5 0 224 79 224 176S379.5 416 256 416c-28.3 0-56.3-4.3-83.2-12.8l-15.2-4.8-13 9.2c-23 16.3-58.5 35.3-102.6 39.6 12-15.1 29.8-40.4 40.8-69.6l7.1-18.7-13.7-14.6C47.3 313.7 32 277.6 32 240c0-97 100.5-176 224-176m0-32C114.6 32 0 125.1 0 240c0 47.6 19.9 91.2 52.9 126.3C38 405.7 7 439.1 6.5 439.5c-6.6 7-8.4 17.2-4.6 26 3.8 8.8 12.4 14.5 22 14.5 61.5 0 110-25.7 139.1-46.3 29 9.1 60.2 14.3 93 14.3 141.4 0 256-93.1 256-208S397.4 32 256 32z"
                                                      class=""></path>
                                            </svg> <span class="count">0</span>
                                        </span>
                                    </div>

                                </div>
                            </div>
                            <div class="blogwrapper col-lg-6 col-md-6 col-sm-6">
                                <div class="blog">
                                    <div class="blogimage">
                                        <a href="">
                                            <img src="~/assets/images/blog/2_1170x_243770dc-0418-48d3-a39d-7359cfc24826_1170x.jpg"
                                                 alt="">
                                        </a>
                                    </div>
                                    <a href="" class="blogname">Coffe Time in Office</a>
                                    <div class="blogdetails">
                                        <ul class="detailsList">
                                            <li>
                                                <p class="blogDate">10 Nov,2020</p>
                                            </li>
                                            <li>
                                                <p class="authorName">Posted By:Arena Tech</p>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="bottomBlog">
                                        <div class="readBtn">
                                            <a href="" class="read">Read More</a>
                                        </div>

                                        <span class="blogCommnt">
                                            <svg aria-hidden="true" focusable="false"
                                                 data-prefix="fal" data-icon="comment" role="img"
                                                 xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
                                                 class="svg-inline--fa fa-comment fa-w-16 fa-2x">
                                                <path fill="currentColor"
                                                      d="M256 64c123.5 0 224 79 224 176S379.5 416 256 416c-28.3 0-56.3-4.3-83.2-12.8l-15.2-4.8-13 9.2c-23 16.3-58.5 35.3-102.6 39.6 12-15.1 29.8-40.4 40.8-69.6l7.1-18.7-13.7-14.6C47.3 313.7 32 277.6 32 240c0-97 100.5-176 224-176m0-32C114.6 32 0 125.1 0 240c0 47.6 19.9 91.2 52.9 126.3C38 405.7 7 439.1 6.5 439.5c-6.6 7-8.4 17.2-4.6 26 3.8 8.8 12.4 14.5 22 14.5 61.5 0 110-25.7 139.1-46.3 29 9.1 60.2 14.3 93 14.3 141.4 0 256-93.1 256-208S397.4 32 256 32z"
                                                      class=""></path>
                                            </svg> <span class="count">0</span>
                                        </span>
                                    </div>

                                </div>
                            </div>
                            <div class="blogwrapper col-lg-6 col-md-6 col-sm-6">
                                <div class="blog">
                                    <div class="blogimage">
                                        <a href="">
                                            <img src="~/assets/images/blog/3_1170x_7a3322df-e0c7-4ece-bb4e-d4ba1ad4813c_1170x.jpg"
                                                 alt="">
                                        </a>
                                    </div>
                                    <a href="" class="blogname">SpaceX Falcon</a>
                                    <div class="blogdetails">
                                        <ul class="detailsList">
                                            <li>
                                                <p class="blogDate">10 Nov,2020</p>
                                            </li>
                                            <li>
                                                <p class="authorName">Posted By:Arena Tech</p>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="bottomBlog">
                                        <div class="readBtn">
                                            <a href="" class="read">Read More</a>
                                        </div>

                                        <span class="blogCommnt">
                                            <svg aria-hidden="true" focusable="false"
                                                 data-prefix="fal" data-icon="comment" role="img"
                                                 xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
                                                 class="svg-inline--fa fa-comment fa-w-16 fa-2x">
                                                <path fill="currentColor"
                                                      d="M256 64c123.5 0 224 79 224 176S379.5 416 256 416c-28.3 0-56.3-4.3-83.2-12.8l-15.2-4.8-13 9.2c-23 16.3-58.5 35.3-102.6 39.6 12-15.1 29.8-40.4 40.8-69.6l7.1-18.7-13.7-14.6C47.3 313.7 32 277.6 32 240c0-97 100.5-176 224-176m0-32C114.6 32 0 125.1 0 240c0 47.6 19.9 91.2 52.9 126.3C38 405.7 7 439.1 6.5 439.5c-6.6 7-8.4 17.2-4.6 26 3.8 8.8 12.4 14.5 22 14.5 61.5 0 110-25.7 139.1-46.3 29 9.1 60.2 14.3 93 14.3 141.4 0 256-93.1 256-208S397.4 32 256 32z"
                                                      class=""></path>
                                            </svg> <span class="count">0</span>
                                        </span>
                                    </div>

                                </div>
                            </div>
                            <div class="blogwrapper col-lg-6 col-md-6 col-sm-6">
                                <div class="blog">
                                    <div class="blogimage">
                                        <a href="">
                                            <img src="~/assets/images/blog/1_1170x_2dcb2f38-6320-4e24-b3a1-e0a4bd057584_1170x.jpg"
                                                 alt="">
                                        </a>
                                    </div>
                                    <a href="" class="blogname">Robot Wars</a>
                                    <div class="blogdetails">
                                        <ul class="detailsList">
                                            <li>
                                                <p class="blogDate">10 Nov,2020</p>
                                            </li>
                                            <li>
                                                <p class="authorName">Posted By:Arena Tech</p>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="bottomBlog">
                                        <div class="readBtn">
                                            <a href="" class="read">Read More</a>
                                        </div>

                                        <span class="blogCommnt">
                                            <svg aria-hidden="true" focusable="false"
                                                 data-prefix="fal" data-icon="comment" role="img"
                                                 xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
                                                 class="svg-inline--fa fa-comment fa-w-16 fa-2x">
                                                <path fill="currentColor"
                                                      d="M256 64c123.5 0 224 79 224 176S379.5 416 256 416c-28.3 0-56.3-4.3-83.2-12.8l-15.2-4.8-13 9.2c-23 16.3-58.5 35.3-102.6 39.6 12-15.1 29.8-40.4 40.8-69.6l7.1-18.7-13.7-14.6C47.3 313.7 32 277.6 32 240c0-97 100.5-176 224-176m0-32C114.6 32 0 125.1 0 240c0 47.6 19.9 91.2 52.9 126.3C38 405.7 7 439.1 6.5 439.5c-6.6 7-8.4 17.2-4.6 26 3.8 8.8 12.4 14.5 22 14.5 61.5 0 110-25.7 139.1-46.3 29 9.1 60.2 14.3 93 14.3 141.4 0 256-93.1 256-208S397.4 32 256 32z"
                                                      class=""></path>
                                            </svg> <span class="count">0</span>
                                        </span>
                                    </div>

                                </div>
                            </div>
                            <div class="blogwrapper col-lg-6 col-md-6 col-sm-6">
                                <div class="blog">
                                    <div class="blogimage">
                                        <a href="">
                                            <img src="~/assets/images/blog/2_1170x_243770dc-0418-48d3-a39d-7359cfc24826_1170x.jpg"
                                                 alt="">
                                        </a>
                                    </div>
                                    <a href="" class="blogname">Coffe Time in Office</a>
                                    <div class="blogdetails">
                                        <ul class="detailsList">
                                            <li>
                                                <p class="blogDate">10 Nov,2020</p>
                                            </li>
                                            <li>
                                                <p class="authorName">Posted By:Arena Tech</p>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="bottomBlog">
                                        <div class="readBtn">
                                            <a href="" class="read">Read More</a>
                                        </div>

                                        <span class="blogCommnt">
                                            <svg aria-hidden="true" focusable="false"
                                                 data-prefix="fal" data-icon="comment" role="img"
                                                 xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
                                                 class="svg-inline--fa fa-comment fa-w-16 fa-2x">
                                                <path fill="currentColor"
                                                      d="M256 64c123.5 0 224 79 224 176S379.5 416 256 416c-28.3 0-56.3-4.3-83.2-12.8l-15.2-4.8-13 9.2c-23 16.3-58.5 35.3-102.6 39.6 12-15.1 29.8-40.4 40.8-69.6l7.1-18.7-13.7-14.6C47.3 313.7 32 277.6 32 240c0-97 100.5-176 224-176m0-32C114.6 32 0 125.1 0 240c0 47.6 19.9 91.2 52.9 126.3C38 405.7 7 439.1 6.5 439.5c-6.6 7-8.4 17.2-4.6 26 3.8 8.8 12.4 14.5 22 14.5 61.5 0 110-25.7 139.1-46.3 29 9.1 60.2 14.3 93 14.3 141.4 0 256-93.1 256-208S397.4 32 256 32z"
                                                      class=""></path>
                                            </svg> <span class="count">0</span>
                                        </span>
                                    </div>

                                </div>
                            </div>
                            <div class="blogwrapper col-lg-6 col-md-6 col-sm-6">
                                <div class="blog">
                                    <div class="blogimage">
                                        <a href="">
                                            <img src="~/assets/images/blog/3_1170x_7a3322df-e0c7-4ece-bb4e-d4ba1ad4813c_1170x.jpg"
                                                 alt="">
                                        </a>
                                    </div>
                                    <a href="" class="blogname">SpaceX Falcon</a>
                                    <div class="blogdetails">
                                        <ul class="detailsList">
                                            <li>
                                                <p class="blogDate">10 Nov,2020</p>
                                            </li>
                                            <li>
                                                <p class="authorName">Posted By:Arena Tech</p>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="bottomBlog">
                                        <div class="readBtn">
                                            <a href="" class="read">Read More</a>
                                        </div>

                                        <span class="blogCommnt">
                                            <svg aria-hidden="true" focusable="false"
                                                 data-prefix="fal" data-icon="comment" role="img"
                                                 xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
                                                 class="svg-inline--fa fa-comment fa-w-16 fa-2x">
                                                <path fill="currentColor"
                                                      d="M256 64c123.5 0 224 79 224 176S379.5 416 256 416c-28.3 0-56.3-4.3-83.2-12.8l-15.2-4.8-13 9.2c-23 16.3-58.5 35.3-102.6 39.6 12-15.1 29.8-40.4 40.8-69.6l7.1-18.7-13.7-14.6C47.3 313.7 32 277.6 32 240c0-97 100.5-176 224-176m0-32C114.6 32 0 125.1 0 240c0 47.6 19.9 91.2 52.9 126.3C38 405.7 7 439.1 6.5 439.5c-6.6 7-8.4 17.2-4.6 26 3.8 8.8 12.4 14.5 22 14.5 61.5 0 110-25.7 139.1-46.3 29 9.1 60.2 14.3 93 14.3 141.4 0 256-93.1 256-208S397.4 32 256 32z"
                                                      class=""></path>
                                            </svg> <span class="count">0</span>
                                        </span>
                                    </div>

                                </div>
                            </div>*@
                        </div>
                    </div>
                    <div class="rigthSide col-lg-3 d-lg-block d-md-none d-sm-none d-none">
                        <div class="rightwrapper">
                            <div class="searchBlog">
                                <form action="">
                                    <input type="text" placeholder="Enter Keywors...">
                                    <button type="submit">
                                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                             width="20" height="20" viewBox="0 0 61 64">
                                            <title>electro-search-icon</title>
                                            <path d="M16.64 2.24c5.888-2.56 12.672-2.88 18.816-0.96 6.016 1.92 11.2 6.080 14.592 11.392 3.648 5.568 5.12 12.48 4.224 19.072-0.64 5.312-2.944 10.368-6.336 14.464 4.288 4.416 8.64 8.768 12.864 13.184-1.408 1.536-3.072 2.944-4.288 4.608h-0.32c-0.064-0.448-0.576-0.64-0.768-0.96-4.096-4.16-8.128-8.32-12.16-12.416-4.672 3.456-10.496 5.376-16.384 5.312-6.080-0.064-12.096-2.368-16.768-6.208-6.272-5.184-9.984-13.184-10.112-21.312v-0.832c0.064-4.736 1.344-9.536 3.712-13.632 2.88-5.184 7.488-9.408 12.928-11.712M26.048 3.328c-8.448 0.384-16.32 5.696-20.096 13.184-2.816 5.504-3.456 12.096-1.856 18.112 1.472 5.44 4.864 10.304 9.472 13.632 3.84 2.752 8.576 4.288 13.312 4.352 5.056 0.128 10.112-1.472 14.208-4.48 3.776-2.688 6.72-6.464 8.384-10.752 2.432-5.888 2.432-12.8 0.064-18.752-1.92-4.864-5.504-9.088-9.984-11.84-4.032-2.496-8.832-3.712-13.504-3.456z">
                                            </path>
                                        </svg>
                                    </button>
                                </form>
                            </div>
                            <div class="about">
                                <div class="heading">
                                    <p>About</p>
                                </div>
                                <div class="content">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt, erat in
                                        malesuada aliquam, est erat faucibus purus, eget viverra nulla sem vitae neque.
                                        Quisque id sodales libero.
                                    </p>

                                </div>
                            </div>
                            <div class="recentPost">
                                <div class="heading">
                                    <p>
                                        Recent Posts
                                    </p>
                                </div>
                                <div class="posts">
                                    @foreach (var blog in ViewBag.LatestBlogs)
                                    {
                                        <div class="post">
                                            <div class="postimage">
                                                <a href=""><img src="~/assets/images/blog/@blog.Image" alt=""></a>
                                            </div>
                                            <div class="postinfo">
                                                @if (blog.Title.Length > 30)
                                                {
                                                    <a href="" class="postname"> @blog.Title.Substring(0, 30)</a>
                                                }
                                                else
                                                {
                                                    <a href="" class="postname">@blog.Title</a>
                                                }
                                                <p class="postDate">@blog.PublishDate</p>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="tags">
                                <div class="heading">
                                    <p>Tags</p>
                                </div>
                                <ul class="taglist">
                                    @foreach (var tag in ViewBag.Tags)
                                    {
                                        <li><a href="">@tag.Name</a></li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
    <section id="shoplistBannerfifth">
        <div class="container">
            <div class="row">
                <div class="content">
                    <ul class="main-list">
                        <li class="col-lg-3 col-md-6 col-sm-6 col-12">
                            <div class="container">
                                <h4><a href="#">Featured Products</a></h4>
                                <ul>
                                    <div class="item">
                                    <li>
                                        <div class="productWrapper">
                                            <div class="product">
                                                <div class="productContent">
                                                    <div class="productImage">
                                                        <div class="image">
                                                            <a href="#">
                                                                <img src="~/assets/images/featuredProducts/Printer_180x.jpg"
                                                                     alt="">
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="textInfo">
                                                        <div class="topProduct">
                                                            <p class="productName">
                                                                <a href="#">
                                                                    Freshkix Product
                                                                    Sample
                                                                </a>
                                                            </p>
                                                        </div>
                                                        <div class="bottomProduct">
                                                            <div class="contforBotPr">
                                                                <div class="productPrice">
                                                                    <p class="CurrentPrice">
                                                                        $120.00 <span class="oldPrice">$150.00</span>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="productWrapper">
                                            <div class="product">
                                                <div class="productContent">
                                                    <div class="productImage">
                                                        <div class="image">
                                                            <a href="#">
                                                                <img src="~/assets/images/featuredProducts/Smartwatch_180x.jpg"
                                                                     alt="">
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="textInfo">
                                                        <div class="topProduct">
                                                            <p class="productName">
                                                                <a href="#">
                                                                    Freshkix Product
                                                                    Sample
                                                                </a>
                                                            </p>
                                                        </div>
                                                        <div class="bottomProduct">
                                                            <div class="contforBotPr">
                                                                <div class="productPrice">
                                                                    <p class="CurrentPrice">
                                                                        $120.00 <span class="oldPrice">$150.00</span>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="productWrapper">
                                            <div class="product">
                                                <div class="productContent">
                                                    <div class="productImage">
                                                        <div class="image">
                                                            <a href="#">
                                                                <img src="~/assets/images/featuredProducts/DekstopPC_180x.jpg"
                                                                     alt="">
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="textInfo">
                                                        <div class="topProduct">
                                                            <p class="productName">
                                                                <a href="#">
                                                                    Freshkix Product
                                                                    Sample
                                                                </a>
                                                            </p>
                                                        </div>
                                                        <div class="bottomProduct">
                                                            <div class="contforBotPr">
                                                                <div class="productPrice">
                                                                    <p class="CurrentPrice">
                                                                        $120.00 <span class="oldPrice">$150.00</span>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                            </div>
                    </ul>
                </div>
                </li>
                <li class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="container">
                        <h4><a href="#">Onsale Products</a></h4>
                        <ul>
                            <div class="item">
                            <li>
                                <div class="productWrapper">
                                    <div class="product">
                                        <div class="productContent">
                                            <div class="productImage">
                                                <div class="image">
                                                    <a href="#">
                                                        <img src="~/assets/images/featuredProducts/DekstopPC_180x.jpg"
                                                             alt="">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="textInfo">
                                                <div class="topProduct">
                                                    <p class="productName">
                                                        <a href="#">
                                                            Freshkix Product
                                                            Sample
                                                        </a>
                                                    </p>
                                                </div>
                                                <div class="bottomProduct">
                                                    <div class="contforBotPr">
                                                        <div class="productPrice">
                                                            <p class="CurrentPrice">
                                                                $120.00 <span class="oldPrice">$150.00</span>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="productWrapper">
                                    <div class="product">
                                        <div class="productContent">
                                            <div class="productImage">
                                                <div class="image">
                                                    <a href="#">
                                                        <img src="~/assets/images/featuredProducts/DekstopPC_180x.jpg"
                                                             alt="">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="textInfo">
                                                <div class="topProduct">
                                                    <p class="productName">
                                                        <a href="#">
                                                            Freshkix Product
                                                            Sample
                                                        </a>
                                                    </p>
                                                </div>
                                                <div class="bottomProduct">
                                                    <div class="contforBotPr">
                                                        <div class="productPrice">
                                                            <p class="CurrentPrice">
                                                                $120.00 <span class="oldPrice">$150.00</span>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="productWrapper">
                                    <div class="product">
                                        <div class="productContent">
                                            <div class="productImage">
                                                <div class="image">
                                                    <a href="#">
                                                        <img src="~/assets/images/featuredProducts/DekstopPC_180x.jpg"
                                                             alt="">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="textInfo">
                                                <div class="topProduct">
                                                    <p class="productName">
                                                        <a href="#">
                                                            Freshkix Product
                                                            Sample
                                                        </a>
                                                    </p>
                                                </div>
                                                <div class="bottomProduct">
                                                    <div class="contforBotPr">
                                                        <div class="productPrice">
                                                            <p class="CurrentPrice">
                                                                $120.00 <span class="oldPrice">$150.00</span>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                    </div>
                    </ul>
            </div>
            </li>
            <li class="col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="container">
                    <h4><a href="#">Top Rated Products</a></h4>
                    <ul>
                        <div class="item">
                        <li>
                            <div class="productWrapper">
                                <div class="product">
                                    <div class="productContent">
                                        <div class="productImage">
                                            <div class="image">
                                                <a href="#">
                                                    <img src="~/assets/images/featuredProducts/DekstopPC_180x.jpg"
                                                         alt="">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="textInfo">
                                            <div class="topProduct">
                                                <p class="productName">
                                                    <a href="#">
                                                        Freshkix Product
                                                        Sample
                                                    </a>
                                                </p>
                                            </div>
                                            <div class="bottomProduct">
                                                <div class="contforBotPr">
                                                    <div class="productPrice">
                                                        <p class="CurrentPrice">
                                                            $120.00 <span class="oldPrice">$150.00</span>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="productWrapper">
                                <div class="product">
                                    <div class="productContent">
                                        <div class="productImage">
                                            <div class="image">
                                                <a href="#">
                                                    <img src="~/assets/images/featuredProducts/DekstopPC_180x.jpg"
                                                         alt="">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="textInfo">
                                            <div class="topProduct">
                                                <p class="productName">
                                                    <a href="#">
                                                        Freshkix Product
                                                        Sample
                                                    </a>
                                                </p>
                                            </div>
                                            <div class="bottomProduct">
                                                <div class="contforBotPr">
                                                    <div class="productPrice">
                                                        <p class="CurrentPrice">
                                                            $120.00 <span class="oldPrice">$150.00</span>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="productWrapper">
                                <div class="product">
                                    <div class="productContent">
                                        <div class="productImage">
                                            <div class="image">
                                                <a href="#">
                                                    <img src="~/assets/images/featuredProducts/DekstopPC_180x.jpg"
                                                         alt="">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="textInfo">
                                            <div class="topProduct">
                                                <p class="productName">
                                                    <a href="#">
                                                        Freshkix Product
                                                        Sample
                                                    </a>
                                                </p>
                                            </div>
                                            <div class="bottomProduct">
                                                <div class="contforBotPr">
                                                    <div class="productPrice">
                                                        <p class="CurrentPrice">
                                                            $120.00 <span class="oldPrice">$150.00</span>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                </div>
                </ul>
        </div>
        </li>
        <li class="col-lg-3 col-md-6 col-sm-6 col-12">
            <div class="container">
                <div class="specialProductImage">
                    <a href="#">
                        <img src="~/assets/images/featuredProducts/v2-right-1_540x.jpg" alt="">
                    </a>
                </div>
            </div>
        </li>
        </ul>
        </div>
        </div>
        </div>
    </section>
    <section id="partnerBrands">
        <div class="container">
            <div class="row">
                <div class="brandsSlider">
                    <div class="owl-carousel owl-theme">
                        <div class="brand-wrapper">
                            <img class="sliderImg"
                                 src="~/assets/images/brands/partner_logo_4_230x85.png" alt="">
                        </div>
                        <div class="brand-wrapper">
                            <img class="sliderImg"
                                 src="~/assets/images/brands/partner_logo_5_230x85.png" alt="">
                        </div>
                        <div class="brand-wrapper">
                            <img class="sliderImg"
                                 src="~/assets/images/brands/partner_logo_6_230x85.png" alt="">
                        </div>
                        <div class="brand-wrapper">
                            <img class="sliderImg"
                                 src="~/assets/images/brands/partner_logo_7_230x85.png" alt="">
                        </div>
                        <div class="brand-wrapper">
                            <img class="sliderImg"
                                 src="~/assets/images/brands/partner_logo_8_230x85.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="subscribe">
        <div class="container">
            <div class="row">
                <div class="subscribeWrapper">
                    <div class="description col-xl-3 col-lg-6  col-md-6 col-sm-12 col-12">
                        <svg aria-hidden="true" focusable="false" data-prefix="fal" data-icon="paper-plane" role="img"
                             xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
                             class="svg-inline--fa fa-paper-plane fa-w-16 fa-2x">
                            <path fill="currentColor"
                                  d="M464 4.3L16 262.7C-7 276-4.7 309.9 19.8 320L160 378v102c0 30.2 37.8 43.3 56.7 20.3l60.7-73.8 126.4 52.2c19.1 7.9 40.7-4.2 43.8-24.7l64-417.1C515.7 10.2 487-9 464 4.3zM192 480v-88.8l54.5 22.5L192 480zm224-30.9l-206.2-85.2 199.5-235.8c4.8-5.6-2.9-13.2-8.5-8.4L145.5 337.3 32 290.5 480 32l-64 417.1z"
                                  class=""></path>
                        </svg>
                        <p>Sign up to Newsletter</p>
                    </div>
                    <div class="info col-xl-4  col-md-4 col-sm-4">
                        <p>...and receive <span>$20 coupon for first shopping.</span></p>
                    </div>
                    <div class="subsribe col-xl-5 col-lg-6  col-md-6 col-sm-12 col-12">
                        <form action="">
                            <div class="inputEmail col-lg-9 col-md-8 col-sm-9 col-9">
                                <input type="text" placeholder="Enter your email adress">
                            </div>
                            <div class="inputSubmit col-lg-3 col-md-4 col-sm-3 col-3">
                                <input type="submit" value="Subscribe">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
            integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- owl carousel -->
    <script src="~/plugins/OwlCarousel2-2.3.4/docs/assets/owlcarousel/owl.carousel.min.js"></script>
    <!-- ---------------- -->
    <!-- ------progressbar---- -->
    <script src="~/assets/JS/skill.bars.jquery.js"></script>

    <!-- ----------------- -->
    <script src="~/assets/js/script.js"></script>